@*@model InterBlock.Api.Service.Models.ConfigurationsVM*@
@model IEnumerable<Interblocks.CProperty>

  <div class="container">
      <h2>System Configurations</h2>
      <div class="card" >
          <div class="card-header" style="background-color:black; color:white">General Settings</div>
          <div class="card-body">

              <table class="table table-secondary">
                  <tbody>

                      @foreach (var configmodels in Model)
                      {
                          if (configmodels.Section == "General Settings")
                          {

                              <tr>
                                  <td width="30%"><strong> @configmodels.Name</strong></td>
                                  <td width="60%">@configmodels.Value</td>
                                  <td>
                                      <button type="button" class="btn btn-primary btn-sm">Save</button>
                                  </td>

                              </tr>
                          }
                      }



                  </tbody>
              </table>

            
          </div>
      </div>
  </div>
